<div>
	<div class="modal-header">
		<button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Booking Status</h4>
	</div>
	<div class="modal-body">
		<p>Unfortunately there was an error to book your tickets. Please try again later.</p>
        <h6>Since we don't have a service that is why we will be getting an error response here.</h6>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" data-ng-click="ok();">Go to View 1</button>
	</div>
</div>
